.menu-btn,
.about-btn,
.contact-btn,
.basket-btn{
  background: none;
  border: none;
  width: 75px;
  height: 75px;
}

.no-bullets {
    list-style: none;
    display: flex;
    align-items: row;
    flex-direction: row;
    justify-content: space-around;
}

.menu-img,
.about-img,
.contact-img,
.basket-img{
  width: 95px;
  height: 95px;
}

body {
    background-color: black;
}

.logo{
    position: fixed;
    top: 40%;
    left: 40%;
  width: 500px;
  height: 333px;
}