body {
  background-color: black;
  margin: 0;
}

.menu-btn,
.about-btn,
.contact-btn,
.basket-btn{
  background: none;
  border: none;
  width: 95px;
  height: 95px;
}

.no-bullets {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.menu-img,
.about-img,
.contact-img,
.basket-img{
  width: 95px;
  height: 95px;
}


.logo{
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}

